{% extends "index.html" %}
{% load static i18n %}

{% block content %}

    <section class="my-5 py-5">
        {% include 'message.html' %}
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <div class="text-center">
                        {% if process == "connect" %}
                            <h2 class="fw-bold">{% trans "Connect" %}&nbsp;{% blocktrans with provider.name as provider %}{{ provider }}{% endblocktrans %}</h2>
                            <h6 class="fw-normal mb-4">
                                {% trans "You are about to connect a new third party account from" %}&nbsp;{% blocktrans with provider.name as provider %}{{ provider }}.{% endblocktrans %}
                            </h6>
                        {% else %}
                            <h2 class="fw-bold">{% trans "Login with" %}&nbsp;{% blocktrans with provider.name as provider %}{{ provider }}{% endblocktrans %}</h2>
                            <h6 class="fw-normal mb-4">{% trans "You are about to sign in using a third party account from" %}&nbsp;{% blocktrans with provider.name as provider %}{{ provider }}.{% endblocktrans %}</h6>
                            <img src="{% static 'assets/img/google_128.png' %}">
                        {% endif %}
                        <form method="post" class="my-5"> {% csrf_token %}
                            {% include 'form-message.html' %}
                            <button class="btn btn-primary" type="submit">{% trans "Continue" %}</button>
                        </form>
                        <div class="pb-5">
                            <a class="float-start link" href={% url "login" %}>{% trans "Login with credentials?" %}</a>
                            <a class="float-end link" href={% url "signup" %}>{% trans "Create new account" %}</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <img class="img-fluid" src="{% static 'assets/img/verification-failed-bg.jpg' %}">
                </div>
            </div>
        </div>
    </section>

{% endblock %}
