{% extends "index.html" %}
{% load static i18n time_filters truncate_filters %}

{% block link %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" integrity="sha512-cyzxRvewl+FOKTtpBzYjW6x6IAYUCZy3sGP40hn+DQkqeluGRCax7qztK2ImL64SA+C7kVWdLI6wvdlStawhyw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

{% endblock %}

{% block content %}

    <section class="py-5">
        <div class="container mt-5 py-3">
            {% include 'message.html' %}
            <div class="row pt-3">
                <div class="col-md-3 pt-3 border">
                    <div class="text-center">
                        <a class="btn chat-request w-100" role="button" href="{% url 'request-ai' %}">New chat</a>
                        <hr>
                        {% if problems_count > 0 %}
                            {% for problem in problems %}
                                <a class="btn btn-warning chat-head w-100 mb-2 {% if room and room.problem.id == problem.id %}active{% endif %}" role="button" href="{% url 'chat-ai' problem.id %}">{% trans 'AI case' %} {{ forloop.counter }}: {{ problem.title|get_truncate_content:10|safe }}</a>
                            {% endfor %}
                        {% else %}
                            <div class="pt-3">
                                <h6 class="dash-data-col">{% trans 'No AI case found!' %}</h6>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-9 pt-3 border">
                    {% if case %}
                        <div class="text-center">
                            <a href="{% url 'chat-ai' case.id %}"><span class="h4 fw-bold">{{ case.title }}</span></a>
                            {% if case.tags %}
                                <div class="pt-3">
                                    {% for tag in case.get_tags_list %}
                                        <span class="question-tag">{{ tag }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <hr>
                        {% if case.room %}
                            <div id="messages-container" class="mb-5 pb-5 max-h-350-px overflow-scroll">
                                {% if room_messages_count > 0 %}
                                    {% for message in room_messages %}
                                        {% if message.account.id == room.user.id %}
                                            <div class="chat-user-style mb-3">
                                                <div class="text-center">
                                                    {% if message.content %}
                                                        <h5 class="py-2">{{ message.content }}</h5>
                                                    {% endif %}
                                                </div>
                                                <div class="d-flex px-3 py-1">
                                                    <div class="d-md-flex me-auto align-items-md-center">
                                                        <span>{% trans 'send' %} {{ message.timestamp|get_time_since }}</span>
                                                    </div>
                                                    <div class="text-end d-md-flex ms-auto align-items-md-center">
                                                        <a class="d-md-flex justify-content-md-end align-items-md-center" href="#">
                                                            <img class="questions-profile-img me-2" src="{{ message.account.pimg.url }}">{{ message.account.fname }} {{ message.account.lname }}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="chat-expert-style mb-3">
                                                <div class="text-center">
                                                    {% if message.content %}
                                                        <h5 class="py-2">{{ message.content }}</h5>
                                                    {% endif %}
                                                </div>
                                                <div class="d-flex px-3 py-1">
                                                    <div class="text-start d-md-flex me-auto align-items-md-center">
                                                        <a href="#">
                                                            <img class="questions-profile-img w-30-px me-2" src="{% static 'assets/img/ai.jpg' %}"> AI (ChatGPT)
                                                        </a>
                                                    </div>
                                                    <div class="d-md-flex ms-auto align-items-md-center">
                                                        <span>{% trans 'received' %} {{ message.timestamp|get_time_since }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <div class="pt-3">
                                        <h6 class="dash-data-col">{% trans 'No message was found!' %}</h6>
                                    </div>
                                {% endif %}
                            </div>
                            <hr class="my-1">
                            <div>
                                <form id="response" action="#" method="post" enctype="multipart/form-data"> {% csrf_token %}
                                    <div class="row pb-5">
                                        <div class="col prof-col pt-3"><h6 class="dash-data-col dash-data-cat-col">{% trans 'Your Response' %}</h6></div>
                                        <div class="col prof-col pt-3">
                                            <h6 class="dash-data-col">{% trans 'Reply' %}:</h6>
                                            <textarea id="reply-field" class="form-control text-center data-input" placeholder="Reply" name="content"></textarea>
                                        </div>
                                        {% include 'form-message.html' %}
                                        <div class="text-center py-3 d-none" id="loading-spinner">
                                            <span class="spinner-border spinner-border-sm spinner-color" role="status"></span>
                                        </div>
                                        <div class="col prof-col pt-3 text-center">
                                            <button class="btn btn-primary me-3 mt-1" type="submit">{% trans 'Send' %}</button>
                                            <button id="reset-form" class="btn btn-primary mt-1" type="reset">{% trans 'Reset' %}</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        {% else %}
                            <div class="pt-3">
                                <h5 class="dash-data-col">{% trans 'The AI case is not approved yet. Wait for further updates.' %}</h5>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="pt-3">
                            <h4 class="dash-data-col">{% if problems_count > 0 %}Select{% else %}Request{% endif %} a AI case</h4>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block script %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js" integrity="sha512-6lplKUSl86rUVprDIjiW8DuOniNX8UDoRATqZSds/7t6zCQZfaCe3e5zcGaQwxa8Kpn5RTM9Fvl3X2lLV4grPQ==" crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>

    <script type="text/javascript">

        const form = document.getElementById("response");
        const informationCount = null;
        const DATA_UPLOAD_MAX_MEMORY_SIZE = null;

    </script>

    <script src="{% static "assets/js/form.handler.js" %}"></script>

    <script type="text/javascript">
        const messagesContainer = document.getElementById("messages-container");

        const wsURL = "{{ ws_url }}";
        const ws = new WebSocket(wsURL);

        if(ws) {
            ws.onclose = function (event) {
                console.log('onclose')
            }

            ws.onmessage = function (event) {
                console.log("onmessage")
                const data = JSON.parse(event.data);
                console.log("data: ", data)

                if (data) {
                    if (messagesContainer) {
                        messagesContainer.innerHTML += data["html_format"];
                    } else {
                        alert('Invalid response!');
                    }
                } else {
                    alert('The response was empty!');
                }
                if(loadingSpinner) {
                    loadingSpinner.classList.add("d-none");
                }
            };
        }

        if(form) {
            form.addEventListener('submit', function (event) {
                event.preventDefault();
                const formData = new FormData(form);
                const dic = {};

                for(let [key, value] of formData.entries()) {
                    dic[key] = value;
                }
                dic["user_id"] = "{{ request.user.id }}";

                const replyField = document.getElementById("reply-field");
                if(replyField) {
                    if (replyField.value.trim() !== '') {
                        ws.send(JSON.stringify(dic));
                    } else {
                        alert('The message was empty!');
                    }
                } else {
                    alert('Invalid message!');
                }

                form.reset();
            });
        }
    </script>

{% endblock %}
