{% extends "dashboard.html" %}
{% load static i18n %}

{% block link %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" integrity="sha512-cyzxRvewl+FOKTtpBzYjW6x6IAYUCZy3sGP40hn+DQkqeluGRCax7qztK2ImL64SA+C7kVWdLI6wvdlStawhyw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock %}

{% block dashboard %}

    {% include 'managements/info-navbar.html' %}
    {% include 'message.html' %}
    <div class="container pt-1">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form id="insert-disease-problem" action="{% url 'insert-disease-problem-form' %}" method="post" enctype="multipart/form-data"> {% csrf_token %}
                            <div class="row pb-5">
                                <div class="col prof-col pt-3"><h6 class="dash-data-col dash-data-cat-col">Disease/Problem</h6></div>
                                <div class="col prof-col py-3">
                                    <h6 class="dash-data-col">Subcategory:</h6>
                                    <label for="select-subcategory" class="d-none dash-data-col">Subcategory:</label>
                                    <select id="select-subcategory" class="form-select text-center data-input" name="subcategory" required="">
                                        <option value='' disabled selected>Select Subcategory</option>
                                        {% for category in categories_subcategories %}
                                            <optgroup label='Category: {% if default_language %}{{ category.name_bn }}{% else %}{{ category.name_en }}{% endif %}'>
                                                {% for subcategory in category.subcategories.all %}
                                                    <option value="{{ subcategory.id }}">{% if default_language %}{{ subcategory.name_bn }}{% else %}{{ subcategory.name_en }}{% endif %}</option>
                                                {% endfor %}
                                            </optgroup>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col pro-col">
                                    <h6 class="dash-data-col">Disease/Problem&nbsp;Image:</h6>
                                    <div class="d-none" id="img-crop-option">
                                        <span class="float-start" id="confirm-edit">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" class="confirm-edit-style">
                                                <path d="M10.2426 16.3137L6 12.071L7.41421 10.6568L10.2426 13.4853L15.8995 7.8284L17.3137 9.24262L10.2426 16.3137Z" fill="currentColor"></path>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12C23 18.0751 18.0751 23 12 23C5.92487 23 1 18.0751 1 12ZM12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21Z" fill="currentColor"></path>
                                            </svg>
                                        </span>
                                        <span class="float-end" id="cancel-edit"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" class="cancel-edit-style">
                                                <path d="M16.3394 9.32245C16.7434 8.94589 16.7657 8.31312 16.3891 7.90911C16.0126 7.50509 15.3798 7.48283 14.9758 7.85938L12.0497 10.5866L9.32245 7.66048C8.94589 7.25647 8.31312 7.23421 7.90911 7.61076C7.50509 7.98731 7.48283 8.62008 7.85938 9.0241L10.5866 11.9502L7.66048 14.6775C7.25647 15.054 7.23421 15.6868 7.61076 16.0908C7.98731 16.4948 8.62008 16.5171 9.0241 16.1405L11.9502 13.4133L14.6775 16.3394C15.054 16.7434 15.6868 16.7657 16.0908 16.3891C16.4948 16.0126 16.5171 15.3798 16.1405 14.9758L13.4133 12.0497L16.3394 9.32245Z" fill="currentColor"></path>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12C23 18.0751 18.0751 23 12 23C5.92487 23 1 18.0751 1 12ZM12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21Z" fill="currentColor"></path>
                                            </svg>
                                        </span>
                                    </div>
                                    <div id="img-container" class="img-container-style">
                                        <img id="img-field" class="img-field-style" src="{% static 'assets/img/cloud_upload.png' %}">
                                        <button class="btn btn-primary d-none img-edit-btn-style" id="img-edit-btn" type="button">Upload</button>
                                    </div>
                                    <input class="form-control d-none" type="file" id="img-input" name="image" accept="image/*" onchange="readImage(this)">
                                    <input class="form-control d-none" type="hidden" id="cropping-details" name="cropping_details">
                                </div>
                                <div class="col prof-col pt-3">
                                    <h6 class="dash-data-col">Disease/Problem name (Bangla):</h6>
                                    <input class="form-control text-center data-input" type="text" name="name_bn" placeholder="Disease/Problem name (Bangla)" required="">
                                </div>
                                <div class="col prof-col pt-3">
                                    <h6 class="dash-data-col">Insects/Causes (Bangla):</h6>
                                    <input class="form-control text-center data-input" type="text" name="insects_causes_bn" placeholder="Insects/Causes (Bangla)">
                                </div>
                                <div class="col prof-col pt-3">
                                    <h6 class="dash-data-col">Solution (Bangla):</h6>
                                    <input class="form-control text-center data-input" type="text" name="solution_bn" placeholder="Solution (Bangla)">
                                </div>
                                <div class="col prof-col pt-3">
                                    <h6 class="dash-data-col">Warning (Bangla):</h6>
                                    <input class="form-control text-center data-input" type="text" name="warning_bn" placeholder="Warning (Bangla)">
                                </div>
                                <div class="col prof-col pt-3">
                                    <h6 class="dash-data-col">Disease/Problem name (English):</h6>
                                    <input class="form-control text-center data-input" type="text" name="name_en" placeholder="Disease/Problem name (English)" required="">
                                </div>
                                <div class="col prof-col pt-3">
                                    <h6 class="dash-data-col">Insects/Causes (English):</h6>
                                    <input class="form-control text-center data-input" type="text" name="insects_causes_en" placeholder="Insects/Causes (English)">
                                </div>
                                <div class="col prof-col pt-3">
                                    <h6 class="dash-data-col">Solution (English):</h6>
                                    <input class="form-control text-center data-input" type="text" name="solution_en" placeholder="Solution (English)">
                                </div>
                                <div class="col prof-col pt-3">
                                    <h6 class="dash-data-col">Warning (English):</h6>
                                    <input class="form-control text-center data-input" type="text" name="warning_en" placeholder="Warning (English)">
                                </div>
                                {% include 'form-message.html' %}
                                <div id="form-alert" class="pt-3 d-none"></div>
                                <div class="text-center py-3 d-none" id="loading-spinner">
                                    <span class="spinner-border spinner-border-sm spinner-color" role="status"></span>
                                </div>
                                <div class="col prof-col pt-3 text-center">
                                    <button class="btn btn-primary me-3" type="submit">Submit</button>
                                    <button id="reset-form" class="btn btn-primary" type="reset">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js" integrity="sha512-6lplKUSl86rUVprDIjiW8DuOniNX8UDoRATqZSds/7t6zCQZfaCe3e5zcGaQwxa8Kpn5RTM9Fvl3X2lLV4grPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript">

        const form = document.getElementById("insert-disease-problem");
        const informationCount = null;
        const DATA_UPLOAD_MAX_MEMORY_SIZE = {{ DATA_UPLOAD_MAX_MEMORY_SIZE }};

    </script>

    <script src="{% static "assets/js/form_handler.js" %}"></script>

{% endblock %}
