{% extends "index.html" %}
{% load static i18n %}

{% block content %}

    <section class="pt-5 mt-5">
        <div class="container py-4 py-xl-5">
            {% include 'message.html' %}
            <div class="row mb-5">
                <div class="col text-center">
                    <h3 class="display-6 fw-bold pb-2 mb-2">{% trans 'Agriculture' %}&nbsp;<span class="underline"><strong>{% trans 'Information' %}</strong></span>&nbsp;</h3>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col text-center"><h3 class="display-6 fw-bold pb-2 mb-2">
                    <span class="underline">{% trans 'Category' %}</span>&nbsp;</h3>
                </div>
            </div>
            <!--
            <div class="row mb-5">
                <div class="col text-center">
                    <form class="d-flex justify-content-center flex-wrap flex-lg-nowrap" method="post">
                        <div class="my-2 me-1">
                            <input class="form-control" type="search" placeholder="Search" name="search">
                        </div>
                        <div class="my-2">
                            <button class="btn btn-primary shadow" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
            -->
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                {% if categories_count > 0  %}
                    {% for category in categories %}
                        <div class="col-xl-4 col-xxl-4">
                            <div class="card border-light border-1 d-flex justify-content-center p-4">
                                <div class="card-body data-view">
                                    <div>
                                        <h4 class="fw-bold text-center">{% if default_language %}{{ category.name_bn }}{% else %}{{ category.name_en }}{% endif %}</h4>
                                        <img class="rounded img-fluid" src="{{ category.image.url }}">
                                        <a class="stretched-link" href={% url "subcategory" category.id %}></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col prof-col pt-3">
                        <h6 class="dash-data-col">{% trans 'No category found!' %}</h6>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}
