{% extends "index.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    <section class="py-4 py-md-5 my-5">
        <div class="container py-md-5">
            <div class="row">
                <div class="col-md-6 text-center"><img class="img-fluid h-100"
                                                       src="{% static 'assets/img/fpBg1.jpg' %}"></div>
                <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-6 offset-lg-0 text-center text-md-start align-self-center">
                    <h2 class="display-6 fw-bold my-3 mb-5 text-center">Forgot your&nbsp;<span
                            class="underline pb-1"><strong>password</strong></span>?</h2>
                    <div>
                        <h4 class="fw-normal mb-4 text-center"><img class="me-2"
                                                                    src="{% static 'assets/img/agronomy_32px.png' %}">Agronomy
                        </h4>
                        <form>
                            <h6 class="fw-normal mb-3 text-center">Enter the phone number or email address associated
                                with your account below to reset your password.</h6>
                            <div><input class="form-control mb-1" type="text" name="id" placeholder="Phone or Email"
                                        required=""></div>
                            <div class="text-center">
                                <button class="btn btn-primary my-3" type="button"><strong>Reset password</strong>
                                </button>
                            </div>
                        </form>
                        <div class="pb-5 mt-3"><a class="link" href={% url "login" %}>Already have an account? Login!</a><a
                                class="float-end link" href={% url "signup" %}>Create new account<br></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}