{% extends "index.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    <br><br><br>
    {% include 'message.html' %}
    <section class="py-4 py-md-5 my-5">
        <div class="container py-md-5">
            <div class="row">
                <div class="col-md-6 text-center"><img class="img-fluid h-100"
                                                       src="{% static 'assets/img/loginBg1.jpg' %}"></div>
                <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-6 offset-lg-0 text-center text-md-start align-self-center">
                    <h2 class="display-6 fw-bold my-3 mb-5 text-center"><span
                            class="underline pb-1"><strong>Welcome!</strong></span></h2>
                    <div>
                        <h4 class="fw-normal mb-4 text-center"><img class="me-2"
                                                                    src="{% static 'assets/img/agronomy_32px.png' %}">Agronomy
                        </h4>
                        <div class="text-center">
                            <h6 class="fw-normal mb-3">Login with</h6><a
                                class="border rounded-pill shadow-sm btn google-btn"
                                href="#"><span><img
                                src="{% static 'assets/img/google.svg' %}"></span><span>Google</span></a>
                        </div>
                        <hr>
                        <form action="{% url 'login-form' %}" method="post"> {% csrf_token %}
                            <h6 class="fw-normal mb-3 text-center">Or login with credentials</h6>
                            <div><input class="form-control mb-1" type="email" name="email" placeholder="Phone or Email"
                                        required="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,15}$"></div>
                            <div class="d-flex"><input id="pass-id" class="form-control mb-1" type="password"
                                                       name="password" placeholder="Password" required="">
                                <button class="btn btn-primary viewBtn" type="button" onclick="pass_show()"><i
                                        id="pass-eye" class="fas fa-eye"></i>
                                </button>
                            </div>
                            <div>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"
                                                               name="rme">
                                    <label class="form-check-label" for="formCheck-1">Remember me</label></div>
                            </div>
                            {% include 'form-message.html' %}
                            <div class="text-center">
                                <button class="btn btn-primary my-3" type="submit"><strong>Login</strong><br></button>
                            </div>
                        </form>
                        <div class="pb-5 mt-3"><a class="float-start link" href={% url "forgotten-password" %}>Forgot
                            password?<br></a><a class="float-end link" href={% url "signup" %}>Create new
                            account<br></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script>
        function pass_show() {
            let p = document.getElementById("pass-id");
            let i = document.getElementById("pass-eye");
            if (p.type === "password") {
                p.type = "text";
                i.className = "fas fa-eye-slash";
            } else {
                p.type = "password";
                i.className = "fas fa-eye";
            }
        }
    </script>
{% endblock %}